@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>OctoPack.Precompile</title>
</head>
<body>
    <p>This is a test website with a Razor view page to test the precompilation.</p>
    <ul>
        @for (int i = 1; i <= 10; i++)
        {
            <li>@i</li>
        }
    </ul>
</body>
</html>
