@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>OctoPack.Precompile</title>
</head>
<body>
    <p>This page is for testing linked files. Intentionally placed outside of the project.</p>
</body>
</html>
